{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оплата заказа</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Оплата заказа №{{ order.id }}</h1>
        <p>Сумма к оплате: <strong>{{ order.total_cost }} ₽</strong></p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Перейти к оплате</button>
        </form>
    </div>
</body>
</html>